
/* Your CSS Code here. */
#header{
	margin:0px;
	background-color:darkgray;
	height:50px;
}

#header ul{
	display:flex;
	justify-content:left;
	align-items:center;
	list-style:none;
	margin:0px;
	padding:20px;
}

#header li a{
	text-decoration:none;
	color:white;
	font-family:sans-serif;
	font-size:20px;
	margin:10px
}
#video h1{
	text-align:center;
}

#video{
	display:flex;
	flex-direction:column;
}

#video video{
	margin:10px;
	border-radius:8px;
}